<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Database Results</h2>

<ul>
	<% for(var i=0; i<results.rows.length; i++) {%>
        <li><%= results.rows[i].id %> - <%= results.rows[i].name %></li>
    <% } %>
</ul>

</div>

</body>
</html>
